DAM - Año 1 -/Lenguaje de Marcas/Tema 8/Pruebas/persona2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" >
  <element name="persona">
    <complexType>
      <sequence>
        <element name="nombre" type="string" minOccurs="1" maxOccurs="unbounded"/>
        <element name="apellido" type="string" minOccurs="2" maxOccurs="2"/>
        <element name="fechanacimiento" type="date" maxOccurs="1"/>
        <element name="numerodocumento" type="int"/>
        <element name="trianero" type="boolean"/>
      </sequence>
    </complexType>
  </element>
</schema>